@page "/register/{studentId:int}"
@inject NavigationManager Navigation
@rendermode InteractiveServer

@if (!students.Exists(student => student.Id == StudentId))
{
    Navigation.NavigateTo("/");
}

<PageTitle>Register</PageTitle>

<h1 class="display-5 pt-3 ps-5">Register Student</h1>

<div class="m-5 mb-3">
    <form class="bg-light p-5 border border-1 rounded">
        @foreach (var student in students)
        {
            if (student.Id == StudentId)
            {
                <h2 class="mb-4">@student.FirstName @student.LastName #@student.Id</h2>
            }
        }
        @foreach (var course in courses)
        {
            <input type="checkbox" class="mb-4" id="@course.Code">
            <label for="@course.Code">@course.Code @course.Title - @course.WeeklyHours hour(s) per week</label>
            <br/>
        }

        <button class="btn btn-primary mt-3">Register Student</button>
    </form>
</div>

<div class="ms-5 mb-4">
    <Button Title="Cancel" Navigate="NavigateToStudents"></Button>
</div>


@code {
    
   [Parameter]
    public int StudentId { get; set; }

    

    private static List<Course> courses = Helper.GetCourses();
    private static List<Student> students = Helper.GetStudents();

    public void NavigateToStudents()
    {
        Navigation.NavigateTo("/");
    }
    
    public void GetStudent(int StudentId)
    {
        
    }
}
